@model AmenityViewModel

@using System.Web;

@section HeadScripts{
    <link href="~/css/summernote.min.css" rel="stylesheet" />
    <script src="~/js/summernote.min.js"></script>
}
<h2>Edit a New Amenity</h2>
<div class="form-horizontal">
    <form asp-action="Edit" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Amenity.HotelID" />
        <input type="hidden" asp-for="Amenity.AmenityID" />
        <div class="form-group">
            <label asp-for="Amenity.Name" class="control-label"></label>
            <div class="col-md-10">
                <input asp-for="Amenity.Name" class="form-control" />
                <span asp-validation-for="Amenity.Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Amenity.Description" class="control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="Amenity.Description" id="summernote">@Html.Raw(@Model.Amenity.Description)</textarea>
                <span asp-validation-for="Amenity.Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Amenity.ShortDescription" class="control-label"></label>
            <div class="col-md-10">
                <input asp-for="Amenity.ShortDescription" class="form-control" />
                <span asp-validation-for="Amenity.ShortDescription" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 control-label">Amentity's Image:</div>
            <div class="col-md-10 pb-2"> 
                @if (Model.Amenity.PictureUrl != null)
                {
                    <img src="@Url.Content($"~/img/amenity-images/{Model.Amenity.PictureUrl}")" id="AmenityImage" width="200" height="200" />
                }
                else
                {
                    <p>No Images</p>
                }
                <input type="hidden" asp-for="@Model.Amenity.PictureUrl" />
                <button class="btn btn-danger btn-sm anchorImgChange">Change Image</button>
            </div>
            <div class="input-group mb-3 col-md-6">
                <div class="custom-file no-display">
                    <input asp-for="UploadImage.Image" class="custom-file-input" id="file" />
                    <label asp-for="UploadImage.Image" class="custom-file-label"></label>
                    <span asp-validation-for="UploadImage.Image" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Amenity.AmenityRate" class="control-label"></label>
            <div class="col-md-10">
                <input asp-for="Amenity.AmenityRate" class="form-control" />
                <span asp-validation-for="Amenity.AmenityRate" class="text-danger"></span>
            </div>
        </div> <div class="form-group">
            <label asp-for="Amenity.Tax" class="control-label"></label>
            <div class="col-md-10">
                <input asp-for="Amenity.Tax" class="form-control" />
                <span asp-validation-for="Amenity.Tax" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Amenity.ViewOnRackRate" class="control-label"></label>
            <div class="col-md-10">
                <div class="form-group form-padding-left">
                    <div class="custom-control custom-switch">
                        <input type="radio" asp-for="ViewOnRackRate" value="true" id="yes" class="custom-control-input" checked="checked" />
                        <label for="yes" class="custom-control-label">Yes</label>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="radio" asp-for="ViewOnRackRate" value="false" id="no" class="custom-control-input" />
                        <label for="no" class="custom-control-label">No</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4 control-label">Amenitiy Type:</div>
        </div>

        <div class="form-row">
            <div class="col-md-4">
                <div class="form-group form-padding-left">
                    <div class="custom-control custom-switch">
                        <input type="radio" class="custom-control-input" asp-for="AmenityType" value="PerDayPerPerson" id="perdayperperson" onclick="showDiscountType(this)" checked="checked" />
                        <label class="custom-control-label" for="perdayperperson" asp-for="Amenity.PerDayPerPerson"></label>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="radio" class="custom-control-input" asp-for="AmenityType" value="PerDay" id="perday" onclick="showDiscountType(this)" />
                        <label class="custom-control-label" for="perday" asp-for="Amenity.PerDay"></label>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="radio" class="custom-control-input" asp-for="AmenityType" value="PerNightStay" id="pernightstay" onclick="showDiscountType(this)" />
                        <label class="custom-control-label" for="pernightstay" asp-for="Amenity.PerNightStay"></label>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="radio" class="custom-control-input" asp-for="AmenityType" value="OneTimeFeePerson" id="onetimefeeperson" onclick="showDiscountType(this)" />
                        <label class="custom-control-label" for="onetimefeeperson" asp-for="Amenity.OneTimeFeePerson"></label>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="radio" class="custom-control-input" asp-for="AmenityType" value="OneTimeFee" id="onetime" onclick="showDiscountType(this)" />
                        <label class="custom-control-label" for="onetime" asp-for="Amenity.OneTimeFee"></label>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="radio" class="custom-control-input" asp-for="AmenityType" value="Discount" id="discount" onclick="showDiscountType(this)" />
                        <label class="custom-control-label" for="discount" asp-for="Amenity.Discount"></label>
                    </div>
                    <span asp-validation-for="AmenityType" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div id="discountcontainer" class='form-group @(Model.Amenity.Discount == true ? "show-display" : "no-display")'>
                    <label asp-for="Amenity.DiscountRegularRate" class="control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Amenity.DiscountRegularRate" class="form-control" />
                        <span asp-validation-for="Amenity.DiscountRegularRate" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row m-5 justify-content-center">
            <div class="form-row">
                <div class="col-6 text-right pr-2">
                    <input type="submit" value="Update" class="btn btn-primary btn-lg" />
                </div>
                <div class="col-6 my-auto">
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </form>
</div>
@section Scripts {
    <script src="~/js/filesizevalidate.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#summernote').summernote({
                height: 300
            });
        });

        $('.anchorImgChange').click(function (e) {
            e.preventDefault();
            $(".custom-file").removeClass("no-display").addClass("show-display");
        });

        function showDiscountType(discount) {
            var selected = discount.value;
            if (selected == "Discount") {
                $("#discountcontainer").addClass("show-display").removeClass("no-display");
            }
            else {
                $("#discountcontainer").removeClass("show-display").addClass("no-display");
            }
        }


        $('#file').on('change',
            function () {
                //get the file name
                var fileName = $(this).val();
                //replace the "Choose a file" label
                $(this).next('.custom-file-label').html(fileName);
            })
    </script>
}
