@model RoomEventViewModel
@section HeadScripts {
    <link href="~/css/smart-scheduler.css" rel="stylesheet" />
}
<h2>Stay Restriction</h2>
<hr />
<div class="form-row">
    <div class="col-md-3">
        <form asp-action="Index" method="post">
            <div class="form-horizontal">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">Room Types:</label>
                    <div class="col-md-10">
                        <select asp-for="@Model.SelectedRoomTypeID" onchange="SelectRoom()" asp-items='new SelectList(Model.Rooms, "RoomTypeID", "Name")' class="custom-select">
                            <option value="0">Select Room Type</option>
                        </select>
                        <span asp-validation-for="@Model.SelectedRoomTypeID" class="text-danger"></span>
                        <input type="submit" value="View Calendar" class="btn btn-primary mt-4" />
                        <button type="button" id="btnAdd" onclick="AddClick()" class="btn btn-success mt-4" data-id="@Model.SelectedRoomTypeID" data-name="@Model.SelectRoomName">Add Date Range</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-9">

        <div class='container mt-3 @(Model.SelectedRoomTypeID > 0 ? "show-display" : "no-display")'>
            <component type="typeof(StayRestrictionsComp)" param-RoomID="@Model.SelectedRoomTypeID" render-mode="ServerPrerendered" />
        </div>

    </div>

    <div id="addModal" class="modal" role="dialog" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id='addModalContent'></div>
            </div>
        </div>
    </div>

</div>


@section Scripts {
    <script>
        function AddClick() {
            var url = '/StayRestrictions/OpenModal';
            var roomID = $('#btnAdd').attr('data-id');

            if (roomID > 0) {
                $.get(url, { id: roomID }, function (data) {
                    $('#addModalContent').html(data);
                    $('#addModal').modal('show');
                });
            }
            else { alert("Select Room Type is required"); }
        }

        function SelectRoom() {
            var selectedRoomTypeID = document.getElementById("SelectedRoomTypeID").value;
            // Set the value of Model.SelectedRoomTypeID
            document.getElementById("btnAdd").dataset.id = selectedRoomTypeID;
        }
    </script>

}

