@model IEnumerable<WRRManagement.Domain.RoomTypes.RoomImage>

    <h1>Room Images</h1>
    <hr/>
    @{
        var roomId = ViewData["RoomTypeID"];
        <h2 class="text-info">@ViewData["RoomTypeName"]</h2>
    }
    <p><a asp-action="Create" asp-route-roomid="@roomId" class="btn btn-success btn-lg">Upload Photos</a></p>
@if(Enumerable.Count(Model) > 0)
{
    <table class="table table-responsive-sm">
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(m => m.MainImage)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.FileName)
            </th>
            
        </tr>
        @foreach(var item in Model)
        {
            <tr>
                <td class="text-center">
                    @{
                        if (item.MainImage == true)
                        {
                            <i class="fas fa-check fa-2x text-success"></i>    
                        }
                    }
                 </td>
                 <td><img src="@Url.Content($"~/img/room-images/{item.FileName}")" height="100" width="100" /></td>
                 <td><label>@item.FileName</label></td>
                 <td>
                     @{
                         if(item.MainImage == false)
                         {
                             <a asp-action="SetMainImage" asp-controller="RoomImages" asp-route-id="@item.ImageID" asp-route-roomid="@roomId" class="text-danger">Set Main</a>
                            <span> | </span>
                         }
                     }
                     <a asp-action="Delete" asp-controller="RoomImages" asp-route-id="@item.ImageID" asp-route-roomid="@item.RoomTypeID" class="text-dark" onclick="return confirm('Are you sure you want to delete?');">Delete</a>
                 </td>

           </tr>
        }
    </table>
}
