@model WRRManagement.Domain.Hotels.Disclaimer

<h2>Disclaimer</h2>
<hr/>

<div class="form-horizontal">
    <form asp-action="Disclaimer">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="@Model.HotelID" />

        <div class="form-group">
            <label asp-for="@Model.DisclaimerText" class="control-label col-md-2"></label>           
            <div class="col-md-10">
                <textarea asp-for="@Model.DisclaimerText" class="form-control" rows="15"></textarea>
                <span asp-validation-for="@Model.DisclaimerText" class="text-danger"></span>           
            </div>
        </div>

        <div class="form-group">
            <label asp-for="@Model.EmailDisclaimerText" class="control-label col-md-2"></label>         
            <div class="col-md-10">
                <textarea asp-for="@Model.EmailDisclaimerText" class="form-control" rows="15"></textarea>
                <span asp-validation-for="@Model.EmailDisclaimerText" class="text-danger"></span>                
            </div>
        </div>


        <div class="row m-5 justify-content-center">
            <div class="form-row">
                <div class="col-6 text-right pr-2">
                    <input type="submit" value="Save" class="btn btn-primary btn-lg" />
                </div>
                <div class="col-6 my-auto">
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </form>
</div>
